rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /resultados_oraculo/{resultadoId} {
      allow read: if true;
      allow create: if isResultadoOraculoValido();
      allow update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }

    function isResultadoOraculoValido() {
      return request.resource.data.keys().hasOnly([
          'nombre',
          'puntuacion',
          'total',
          'titulo',
          'mundo',
          'fecha'
        ])
        && request.resource.data.nombre is string
        && request.resource.data.nombre.size() > 0
        && request.resource.data.nombre.size() <= 24
        && request.resource.data.puntuacion is int
        && request.resource.data.total is int
        && request.resource.data.total >= 1
        && request.resource.data.total <= 30
        && request.resource.data.puntuacion >= 0
        && request.resource.data.puntuacion <= request.resource.data.total
        && request.resource.data.titulo is string
        && request.resource.data.titulo.size() > 0
        && request.resource.data.titulo.size() <= 60
        && request.resource.data.mundo in [
          'Olimpo',
          'Tierra',
          'Mar',
          'Inframundo'
        ]
        && request.resource.data.fecha == request.time;
    }
  }
}
